@import "../../vars.css";

.container {
  margin-top: 7.4rem;
  color: var(--color-text);
  margin-inline: 10%;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 100%;
}

/* 832px Approx */
@media (max-width: 52em) {
  .projects {
    gap: 2.4rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
