@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 125px;
  z-index: 1;
  margin-inline: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;

  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.icons {
  stroke: #83A8DB;
  fill: #235599;
  width: 60px;
  height: 60px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  border-radius: 13%;
  width: 26%;
  padding-right: 0.5%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  gap: 0.4rem;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-inline: 0;
    padding-top: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-inline: 0;
  }
}
