@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-inline: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  /* flex */
  gap: 40px;
}

.historyItem {
  display: flex;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}
.historyItemDetails p {
  font-size: 30px;
  font-weight: 300;
}
.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 17px;
}

/* List items */
.listItem {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 1.6px;
}
.listItem:first-child {
  margin-top: 0;
}

/* Screen resolutions */

/* 1250px Approx */
@media (max-width: 78em) {
  .historyItem {
    flex-direction: column;
    gap: 2.2rem;
  }

  .historyItemDetails {
    text-align: center;
  }

  .historyItemDetails p {
    margin-bottom: 1.2rem;
  }

  .historyItemDetails ul {
    list-style-position: outside;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 832px Approx */
@media (max-width: 52em) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    order: 2;
  }

  .history {
    width: 100%;
    gap: 9px;
    order: 1;
  }
}
